<!DOCTYPE html>
<html>
<head>
  <title>Kuende</title>
  <%= stylesheet_link_tag    "landing_manifest", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "landing_manifest", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
